name: Metrics
on:
  schedule: [ { cron: "0 16 * * *" } ] # NOTE: Daily at 4 PM UTC
  workflow_dispatch:
  push:
    branches:
    - main
jobs:
  metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: General Stats
      if: ${{ success() || failure() }}
      uses: lowlighter/metrics@latest
      with:
        filename: images/metrics.svg
        token: ${{ secrets.METRICS_TOKEN }}
        base: header, activity, # NOTE: community, repositories (REMOVED TEMPORARILY)
        config_order: base.header, isocalendar, languages, notable, achievements

        # NOTE: ISO Calendar
        plugin_isocalendar: yes
        plugin_isocalendar_duration: full-year

        # NOTE: Languages
        plugin_languages: yes
        plugin_languages_ignored: html, css, tex, less, dockerfile, makefile
        plugin_languages_details: lines, bytes-size, percentage
        plugin_languages_sections: most-used, recently-used
        plugin_languages_indepth: no
        plugin_languages_limit: 6

        # NOTE: Notable Contributions
        plugin_notable: yes
        plugin_notable_from: all

        # NOTE: Achievements/Trophies
        plugin_achievements: yes
        plugin_achievements_display: compact
        plugin_achievements_threshold: C

    - name: Streak & Activity
      if: ${{ success() || failure() }}
      uses: lowlighter/metrics@latest
      with:
        filename: images/streak.svg
        token: ${{ secrets.METRICS_TOKEN }}
        base: ""
        plugin_streak: yes
        plugin_streak_current: yes
        plugin_streak_max: yes
